<!DOCTYPE html>
<html>

<head>
    <link href="/styles/style.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="/scripts/common.js" defer></script>
    <script type="text/javascript" src="/scripts/console.js" defer></script>
    <script type="text/javascript" src="/scripts/rain.js" defer></script>

    $$head
</head>

<body>
    <div class="background" style="opacity: 10%; --bg-size: 69px; --scr-x: 1; --scr-y: 1; --scr-time: 3s;"></div>
    <div class="background" style="opacity: 20%; --bg-size: 151px; --scr-x: 1; --scr-y: 1; --scr-time: 5s;"></div>
    <div class="background" style="opacity: 30%; --bg-size: 360px; --scr-x: 1; --scr-y: 1; --scr-time: 7s;"></div>
    <canvas class="rain" id="rainCanvas"></canvas>

    <div class="main-layout">
        <div class="nav box" id="navbar"></div>
        $$body
        <div class="console hidden" id="console">
            <div class="console-input" id="console-input"></div>
        </div>
    </div>
</body>

</html>
