<div class="sheet-body">
    <div class="bio box center">
        <div class="row">
            <div class="image-placeholder">
                <img class="image" data-update="image" src="" alt="Loading..." />
            </div>
            <div class="column left">
                <div class="row">
                    <span class="name" data-update="name">Loading...</span>
                    <span class="pronouns">
                        <span data-update="pronouns-subject">they</span>/<span data-update="pronouns-object">them</span>
                    </span>
                </div>
                <div class="row">
                    <span>Played by <span data-update="player">someone</span></span>
                    <span data-update="species">species</span>
                </div>
                <div class="row">
                    <span>Played: <span data-update="runsPlayed">X</span></span>
                    <span>Won: <span data-update="runsWon">X</span></span>
                </div>
            </div>
        </div>

        <div class="hori-divider"></div>

        <span data-update="biography">Biography</span>
    </div>

    <div class="class box">
        <div class="name center-text" data-update="specialtyClass-name">Loading...</div>

        <div class="hori-divider"></div>

        <span data-update="specialtyClass-description">Loading...</span>

        <div class="hori-divider"></div>

        <div class="stats center">
            <div class="stat row green">
                <span>HP:</span>
                <span class="classHP" data-update="specialtyClass-hp" data-stat="relative">X</span>
            </div>
            <div class="stat row cyan">
                <span>MP:</span>
                <span class="classMP" data-update="specialtyClass-mp" data-stat="relative">X</span>
            </div>
            <div class="stat row orange">
                <span>STR:</span>
                <span class="classStr" data-update="specialtyClass-strength" data-stat="relative">X</span>
            </div>
            <div class="stat row blue">
                <span>MAG:</span>
                <span class="classMag" data-update="specialtyClass-magic" data-stat="relative">X</span>
            </div>
            <div class="stat row red">
                <span>DEF:</span>
                <span class="classDef" data-update="specialtyClass-defense" data-stat="relative">X</span>
            </div>
            <div class="stat row purple">
                <span>RES:</span>
                <span class="classRes" data-update="specialtyClass-resistance" data-stat="relative">X</span>
            </div>
        </div>
    </div>

    <div class="skill-list box column center">
        <span class="skill-title name center-text"><span data-update="specialtyClass-name">Loading</span> Skills</span>

        <div class="hori-divider"></div>

        <div class="table">
            <div class="table-header">
                <span class="center-text">Skill Name</span>
                <span class="right-text">MP</span>
            </div>
            <div class="table-content" data-update="specialtyClass-skills"></div>
        </div>


    </div>
</div>
