.sheet-body {
    background-color: transparent;
    width: calc(512px + 4px + 342px);
    height: 278px;
    padding: 0 0 16px 0;
    gap: 4px;

    display: grid;
    grid-template-areas:
        "bio skills"
        "bio skill-tabs";
    
    image-rendering: pixelated;
}

.bio {
    grid-area: bio;
    width: 512px;
}

.gems {
    grid-area: gems;
}

.items {
    grid-area: items;
}

.skill-list {
    grid-area: skills;
    width: 342px;
    height: 238px;
    padding-top: 0;
    z-index: 1;
}

.skill-tabs {
    grid-area: skill-tabs;
    width: 326px;
    margin-top: -13px;
    margin-left: 8px;
}

.skill-tab {
    padding: 0;
    width: 50%;
    height: 48px;
}

.name {
    font-size: 150%;
}

.pronouns {
    margin-top: auto;
    margin-bottom: auto;
}

.image-placeholder {
    aspect-ratio: 1;
    background: lightgrey;
    color: grey;
    height: 128px;
    text-align: center;
    border: 2px solid white;
    border-radius: 4px;
}

.image {
    aspect-ratio: 1;
    height: 128px;
    image-rendering: auto;
}

.stats {
    margin-right: 4px;
}

.stat {
    white-space: pre;
}

.green {
    color: #22da09;
}

.cyan {
    color: #06c8c1;
}

.orange {
    color: #e3b70f;
}

.blue {
    color: #009dff;
}

.red {
    color: #f25a5a;
}

.purple {
    color: #a97bff;
}

.positive {
    color: lightgreen;
}

.negative {
    color: lightcoral;
}

.zero {
    color: grey;
}

.underline {
    text-decoration: underline;
}

.dropdown-contents {
    grid-column: 1 / -1;
    height: 0;
    overflow: hidden;
    border: none;
    margin-bottom: -2px;
    padding-left: 1em;
}

.dropdown {
    border-top: 1px transparent;
    background-color: transparent;
}

.hidden-check:hover + .dropdown,
.hidden-check:hover + .dropdown + .dropdown {
    background-color: rgba(255, 255, 255, 0.25);
}

.hidden-check:checked + .dropdown,
.hidden-check:checked + .dropdown + .dropdown {
    border-top: 1px solid;
}

.hidden-check:checked + .dropdown + .dropdown + .dropdown-contents {
    height: auto;
    border-bottom: 1px solid;
    margin-bottom: 0;
}

.hidden-check {
    display: none;
}

.table {
    gap: 2px;
    grid-template-columns: auto 38px;
    width: 100%;
}

.table-header {
    display: grid;
    grid-template-columns: inherit;
    scrollbar-gutter: stable;
    width: 100%;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    height: 2rem;
    text-decoration: underline;
}

.table-content {
    overflow-y: scroll;
    width: 100%;
    height: 182px;
    gap: 2px 0;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
    scrollbar-gutter: stable;
    margin-right: -8px;
    padding-right: 8px;

    scroll-snap-type: y mandatory;
}

.table-item {
    display: grid;
    grid-template-columns: auto 38px;
    grid-auto-rows: max-content;
    width: 100%;
    gap: 2px 0;
}

.bar-canvas {
    margin-top: 4px;
    width: 162px;
    height: 32px;
    vertical-align: center;
}

.gem-row {
    margin-bottom: 4px;
}

.gem-slot {
    width: 32px;
    vertical-align: bottom;
}

.item {
    margin-bottom: 8px;
}

.item-slot {
    width: 32px;
    vertical-align: bottom;
}

.gems {
    margin-top: 4px;
    width: 134px;
    height: 58px;
    margin-bottom: auto;
}

.class-mech {
    width: 162px;
    height: 64px;
}

.buffs {
    width: 144px;
    height: 46px;
    margin-top: 4px;
}

.skill-tab:hover {
    color: black;
    text-shadow: none;
    background-image: linear-gradient(to top left, black -100%, var(--accent-color));
    cursor: pointer;
}
