<div class="sheet-body">
    <div class="bio box center row">
        <div class="row">
            <div class="column">
                <div class="image-placeholder">
                    <img class="image" data-update="image" src="" alt="Loading..." />
                </div>
                <img class="gems" data-update="gems" src="/assets/textures/gem-slots.png"></img>
                <canvas class="buffs" id="{cID}-buffs-canvas">
                    <img class="buff" src="/assets/images/buffs/str-up.png"></img>
                    <img class="buff" src="/assets/images/buffs/mag-up.png"></img>
                    <img class="buff" src="/assets/images/buffs/def-down.png"></img>
                </canvas>
            </div>
            <div class="column">
                <div class="row">
                    <span class="name" data-update="name">Loading...</span>
                    <span class="pronouns">
                        <span data-update="pronouns-subject">they</span>/<span data-update="pronouns-object">them</span>
                    </span>
                </div>
                <div class="row">
                    <span data-update="player">someone</span>
                    <span data-update="species">species</span>
                </div>
                <div class="row">
                    <div class="column">
                        <canvas class="bar-canvas" id="{cID}-hp-canvas"></canvas>
                        <div class="stats column">
                            <div class="stat row orange">
                                <span>Strength:</span>
                                <span data-update="strength" data-stat="absolute">X</span>
                            </div>
                            <div class="stat row blue">
                                <span>Magic:</span>
                                <span data-update="magic" data-stat="absolute">X</span>
                            </div>
                            <div class="stat row red">
                                <span>Defense:</span>
                                <span data-update="defense" data-stat="absolute">X</span>
                            </div>
                            <div class="stat row purple">
                                <span>Resistance:</span>
                                <span data-update="resistance" data-stat="absolute">X</span>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <canvas class="bar-canvas" id="{cID}-mp-canvas"></canvas>
                        <canvas class="class-mech" id="{cID}-class-mech-1"></canvas>
                        <canvas class="class-mech" id="{cID}-class-mech-2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
