.sheet-body {
	background-color: transparent;
	width: 850px;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-areas:
		"bio skill-list"
		"class skill-list";
	padding: 0 20px 20px 20px;
	gap: 6px;
}

.bio {
	grid-area: bio;
}

.class {
	grid-area: class;
}

.name {
	font-size: 150%;
}
.pronouns { margin-top: auto;
			margin-bottom: auto;
}

.image-placeholder {
	aspect-ratio: 1;
	background: lightgrey;
	color: grey;
	height: 128px;
	text-align: center;
	border: 2px solid white;
	border-radius: 4px;
}
.image {
	aspect-ratio: 1;
	height: 128px;
}

.stats {
	display: grid;
	gap: 0 33%;
	grid-template-columns: 1fr 1fr;
	width: 80%;
}

.stat { white-space: pre; }

.green { color: #22da09; }
.cyan { color: #06c8c1; }
.orange { color: #e3b70f; }
.blue { color: #009dff; }
.red { color: #f25a5a; }
.purple { color: #a97bff; }

.positive { color: lightgreen; }
.negative { color: lightcoral; }
.zero { color: grey; }

.skill-list {
	grid-area: skill-list;
	/*height: 0;
	min-height: 100%;*/
}

::deep .skill-list {
	grid-template-columns: 2fr 1fr 1fr;
}

.dropdown-contents {
	grid-column: 1 / -1;
	height: 0;
	overflow: hidden;
	border: none;
	margin-bottom: -2px;
	padding-left: 1em;
}
.dropdown {
	border-top: 1px transparent;
	background-color: transparent;
}
.hidden-check:hover + .dropdown, .hidden-check:hover + .dropdown + .dropdown, .hidden-check:hover + .dropdown + .dropdown + .dropdown {
	background-color: rgba(255, 255, 255, 0.25);
}
.hidden-check:checked + .dropdown, .hidden-check:checked + .dropdown + .dropdown, .hidden-check:checked + .dropdown + .dropdown + .dropdown {
	border-top: 1px solid;
}
.hidden-check:checked + .dropdown + .dropdown + .dropdown + .dropdown-contents {
	height: auto;
	border-bottom: 1px solid;
	margin-bottom: 0;
}
.hidden-check {
	display: none;
}