html, body {
	background-color: darkgrey;
	font-family: 'wondermail';
	height: 100%;
	margin: 0;
}

* { box-sizing: border-box; }

.page-body {
	background-color: black;
	height: 100%;
	margin: auto;
	padding: 20px;
	width: 720px;
}

.box {
	background-image: linear-gradient(to top left, black -100%, purple);
	padding: 10px;
	width: 100%;
}

.row {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: space-between;
	width: 100%;
}

.column {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.grid { display: grid; }

.bordered { gap: 5px; }

.even { justify-content: space-evenly; }

.tight { justify-content: center; }

.left { align-items: flex-start; }

.right { align-items: flex-end; }

.spacer { flex-grow: 1; }

.row > .divider {
	background-color: lime; /* fallback */
	background-color: rgba(255, 255, 255, 0.50);
	height: 90%;
	width: 1px;
}

.column > .divider {
	background-color: lime;
	background-color: rgba(255, 255, 255, 0.50);
	height: 1px;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 90%;
}

.divider:first-child, .divider:last-child { background: none; }

.sheet-meta { padding: 10px; }

.sheet-body {
	background-color: lightgray;
	background-image: linear-gradient(to top left, lightgrey, white);
	border-radius: 5px;
	color: white;
	gap: 5px;
	padding: 5px;
	width: 100%;
}

.name {
	font-size: 1.5rem;
	text-align: left;
}

.character-image { width: 100%; }

.image-placeholder {
	aspect-ratio: 1;
	background: lightgrey;
	color: grey;
	height: 100px;
	text-align: center;
}

.stats {
	display: grid;
	gap: 0 5%;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

.class > .stats { }

.stat { white-space: pre; }

.green { color: #22da09; }

.cyan { color: #06c8c1; }

.orange { color: #e3b70f; }

.blue { color: #009dff; }

.red { color: #f25a5a; }

.purple { color: #a97bff; }

.positive { color: lightgreen; }

.negative { color: lightcoral; }

.zero { color: grey; }

.stat-name { font-size: 1rem; }


.character-info {
	/*width: 50%;*/
	gap: 2px;
}

.class { /*width: 50%;*/ }