.sheet-body {
	background-color: transparent;
	width: 720px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 20px 20px 20px;
}

.name { font-size: 1.5rem; }

.image-placeholder {
	aspect-ratio: 1;
	background: lightgrey;
	color: grey;
	height: 100px;
	text-align: center;
}

.stats {
	display: grid;
	gap: 0 33%;
	grid-template-columns: 1fr 1fr;
	width: 80%;
}

.stat { white-space: pre; }

.green { color: #22da09; }
.cyan { color: #06c8c1; }
.orange { color: #e3b70f; }
.blue { color: #009dff; }
.red { color: #f25a5a; }
.purple { color: #a97bff; }

.positive { color: lightgreen; }
.negative { color: lightcoral; }
.zero { color: grey; }

.skill-list {
	height: 0;
	min-height: 100%;
}

::deep .skill-list {
	grid-template-columns: 50% 25% 25%;
}

.dropdown-contents {
	grid-column: 1 / -1;
	height: 0;
	overflow: hidden;
	border: none;
	margin-bottom: -2px;
	padding-left: 1em;
}
.dropdown {
	border-top: 1px transparent;
	background-color: transparent;
}
.hidden-check:hover + .dropdown, .hidden-check:hover + .dropdown + .dropdown, .hidden-check:hover + .dropdown + .dropdown + .dropdown {
	background-color: rgba(255, 255, 255, 0.25);
}
.hidden-check:checked + .dropdown, .hidden-check:checked + .dropdown + .dropdown, .hidden-check:checked + .dropdown + .dropdown + .dropdown {
	border-top: 1px solid;
}
.hidden-check:checked + .dropdown + .dropdown + .dropdown + .dropdown-contents {
	height: auto;
	border-bottom: 1px solid;
	margin-bottom: 0;
}
.hidden-check {
	display: none;
}