<div class="background" style="opacity: 10%; --bg-size: 69px; --scr-x: 1; --scr-y: 1; --scr-time: 3s;"></div>
<div class="background" style="opacity: 20%; --bg-size: 151px; --scr-x: 1; --scr-y: 1; --scr-time: 5s;"></div>
<div class="background" style="opacity: 30%; --bg-size: 360px; --scr-x: 1; --scr-y: 1; --scr-time: 7s;"></div>
<canvas class="rain" id="rainCanvas"></canvas>


<script src="/scripts/common.js" defer></script>
<script src="/scripts/rain.js" defer></script>

@code {

}
