.background {
	background-image: url("/assets/textures/noiseTexture.png");
	background-size: var(--bg-size);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -2;
	animation: bg-scroll var(--scr-time) linear infinite;
}

.rain {
	image-rendering: pixelated;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}
