.grid {
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-areas:
		"nav content";
	gap: 10px;
	max-width: 1500px;
	margin: auto;
}

.nav {
	grid-area: nav;
}
.content {
	grid-area: content;
}
