@inherits LayoutComponentBase

<PageTitle>BlackTower</PageTitle>

<div class="page">
	<main class="grid">
		<Background />
		<nav class="nav">
			<Navbar />
		</nav>
		<article class="content">
			@Body
		</article>
	</main>
</div>