.navheader {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 5px;
}

.navlist {
	gap: 6px;
}

.navitem {
	text-align: center;
}

.navitem ::deep a {
	text-decoration: none;
}

navitem ::deep a.active {

}

navitem ::deep a:hover {
	color: black;
	text-shadow: none;
	background-image: linear-gradient(to top left, rgba(0, 0, 0, var(--box-opacity)) -100%, var(--accent-color-trans));
}
