<div class="navheader">Navigation</div>
<div class="navlist">
    <NavLink class="navitem box" href="/session">Session</NavLink>
    <NavLink class="navitem box" href="/characters">Characters</NavLink>
    <NavLink class="navitem box" href="/bank">Bank</NavLink>
</div>
