<div class="top-row">
	<div>
		<a class="navbar-brand" href="">The Black Tower</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav>
		<div class="nav-item">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item">
			<NavLink class="nav-link" href="character-sheet-full">
				<span class="oi oi-person" aria-hidden="true"></span> Full Character Sheet
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

}