@using System.Diagnostics.CodeAnalysis
@typeparam TItem

<div class="table-header">@TableHeader</div>

<div class="table-content">
	@foreach (TItem item in Items)
	{
		if (RowTemplate is not null)
		{
			@RowTemplate(item)
		}
	}
</div>

@code
{
	[Parameter]
	public RenderFragment? TableHeader { get; set; }

	[Parameter]
	public RenderFragment<TItem>? RowTemplate { get; set; }

	[Parameter, AllowNull]
	public IReadOnlyList<TItem> Items { get; set; }
}
